<h1>YOU ARE NOT ALONE!!!</h1>
<img src="/images/toilet.png" alt="A random image" id="petition-image"></img>
<h2>These are the brave who signed</h2>
<p>Names here could be fictive. But feel free to contact them and meet them at the Supermarket</p>
<ul>
    {{#rows}}
    <li>
        {{#if url}}
            <a href="{{url}}">{{first}} {{last}}</a>
        {{else}} 
            {{first}} {{last}}
        {{/if}} 
            {{age}} <a href="/petition/signed/{{city}}">{{city}}</a>
    </li>
    {{/rows}}
</ul>